.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  /* Additional styling */
}

.card {
  /* Styling for individual cards */
  padding: 0.75rem;
  border: 1px solid tomato;
  border-radius: 10px;
  text-align: center;
  
}